<!doctype html>
<html lang="en">
<head>
    <title>Registry/Gifts - {{ siteName }}</title>

    {{>meta }}
</head>
<body>
{{> header title=Registry/Gifts }}
<article>
    <div class="container centered" style="max-width: 600px;">
        <h2>Registry/Gifts</h2>
        <p>
            Please, no gifts! Most important is to celebrate with you (finally)!
        </p>
        <br />
        <p>
            Many of you will travel long distances to share our wedding day with us,
            so please gift us with your presence and <a href="{{root}}/things-to-do">enjoy Sonoma County</a>.
        </p>
    </div>
</article>
{{> footer }}
</body>
