<!doctype html>
<html lang="en">
<head>
    <title>Schedule - {{ siteName }}</title>

    {{>meta }}
</head>
<body>
{{> header title=Schedule }}
<article>
    <div class="container centered">
        <h2>Schedule</h2>

        <div>
            <img class="banner" src="/images/sevenbranches.jpg"/>
        </div>

        <div class="split">
            <div>
                <h3 class="heading">
                    Ceremony & Reception
                </h3>
                <div class="subheading">
                    <p>
                        {{fullDateWithDayOfWeek}}
                    </p>
                    <p style="margin-bottom: 16px;">
                        <a
                                style="font-weight: bold; border-bottom: 1px solid currentColor;"
                                href="https://sevenbranchesvenueandinn.com/"
                                target="_blank"
                        >
                            Seven Branches Venue and Inn
                        </a><br>
                        450 W Spain St <br>
                        Sonoma, CA
                    </p>
                    <div title="Add to Calendar" class="add-to-calendar">
                        Add to Calendar
                        <span class="start">05/22/2022 04:45 PM</span>
                        <span class="end">05/22/2022 11:59 PM</span>
                        <span class="timezone">America/Los_Angeles</span>
                        <span class="title">Janelle and Kevin's Wedding!</span>
                        <span class="description">Kindly arrive before 4:45 PM for a 5:00 PM start. Enter via the main gate on the left side of the road after turning onto the property.</span>
                        <span class="location">Seven Branches Venue and Inn, 450 W Spain St, Sonoma, CA</span>
                    </div>
                </div>
            </div>
            <div style="text-align: left;">
                <p>
                    The ceremony will take place in the courtyard immediately inside the main gate.
                    Kindly arrive before 4:45 PM for a <strong>5:00 PM start</strong>.
                </p>
                <p>
                    Enter via the main gate on the left side of the road after turning onto the property.
                </p>
                <div class="accordion" style="margin-bottom: 16px;">
                    <details class="accordion-tab question-container">
                        <summary class="accordion-tab__summary question">
                            Parking
                        </summary>
                        <div class="accordion-tab__content answer">
                            <p>
                                Free parking is available at the rear of the property.
                            </p>
                        </div>
                    </details>
                    <details class="accordion-tab question-container">
                        <summary class="accordion-tab__summary question">
                            Attire
                        </summary>
                        <div class="accordion-tab__content answer">
                            <p>
                                Cocktail formal:
                                Long gown, cocktail dress, dressy jumpsuit,
                                or dark suit and tie.
                            </p>
                        </div>
                    </details>
                </div>

                <p>
                    After the ceremony, we will be hosting cocktails next to the courtyard at <strong>5:30
                    PM</strong>.
                </p>
                <p>
                    The reception and dinner will start at <strong>6:30 PM</strong> under the covered patio, followed by
                    drinks and dancing in the ballroom until midnight.
                </p>
            </div>
        </div>

        <div>
            <img class="banner" src="/images/sevenbranches-2.jpg"/>
        </div>

        <div class="split">
            <div>
                <h3 class="heading">
                    Monday Morning Farewell
                </h3>
                <a name="brunch"/>
                <div class="subheading">
                    <p>
                        Monday, May 23, 2022
                    </p>
                    <p style="margin-bottom: 16px;">
                        <a
                                style="font-weight: bold; border-bottom: 1px solid currentColor;"
                                href="https://sevenbranchesvenueandinn.com/"
                                target="_blank"
                        >
                            Seven Branches Venue and Inn
                        </a><br>
                        450 W Spain St <br>
                        Sonoma, CA
                    </p>
                    <div title="Add to Calendar" class="add-to-calendar">
                        Add to Calendar
                        <span class="start">05/23/2022 9:00 AM</span>
                        <span class="end">05/23/2022 11:00 AM</span>
                        <span class="timezone">America/Los_Angeles</span>
                        <span class="title">Post-Wedding Farewell Brunch</span>
                        <span class="description">Join us for a quick farewell gathering with mimosas and Model Bakery english muffins!</span>
                        <span class="location">Seven Branches Venue and Inn, 450 W Spain St, Sonoma, CA</span>
                    </div>
                </div>
            </div>
            <div style="text-align: left;">
                <p>
                    Join us for a quick farewell gathering with mimosas and Model Bakery english muffins!
                </p>
                <p>
                    Feel free to stop by any time between 9:00 AM and 11:00 AM.
                </p>
                <p>
                    All are welcome!
                </p>
            </div>
        </div>
    </div>
</article>
{{> footer }}
</body>
