<!doctype html>
<html lang="en">
<head>
    <title>Things To Do - {{ siteName }}</title>

    {{>meta }}
    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQwISWV9DQlYLwdudzHAreE9I2r3V445I&callback=initMap"
            async defer
    ></script>
</head>
<body>
{{> header title="Things To Do" }}
<article>
    <div id="content">
        <div class="container">
            <h2>Things To Do</h2>

            <p style="text-align: center; max-width: 400px; margin: 0 auto;">
                Spending an extra day or two and looking to explore the area?
                Here are some itineraries that take you to our favourite spots:
            </p>

            <div id="itinerary-nav">
            </div>
            <section class="itinerary" data-lat="51.045404" data-long="-114.044687" data-zoom="15">
                <h3>East Village - Inglewood</h3>
                <p>
                    East Village and Inglewood are two neighbourhoods with trendy
                    restaurants, bars, and independent shops that contribute to a hipster/artsy reputation.
                    Situated along the Bow River, these neighbourhoods are connected by the scenic RiverWalk and combine
                    for a nice walking tour.
                </p>

                <a class="map-location" data-lat="51.0453" data-long="-114.0549">Central Library</a>
                <h4>1. Calgary Central Library</h4>

                <p>
                    The new Central Library opened on November 1, 2018 and was named on Time Magazine's 2019 list of
                    greatest places. The western red cedar and the shape of the building (cloud arches formed by Chinook
                    winds) are tributes to the natural beauty that surrounds Calgary.
                </p>
                <p>
                    The building opens at 9:00 AM (12:00 PM on Sundays). Be sure to also get photos of the restored St.
                    Louis Hotel next door.
                </p>

                <div>
                    <img class="banner" src="/images/things/central-library.jpg"/>
                </div>

                <a class="map-location" data-lat="51.045915" data-long="-114.050702">Device to Root out Evil</a>
                <a class="map-location" data-lat="51.0479" data-long="-114.0498">Simmons Building</a>
                <h4>
                    2 - 3. Breakfast at the Simmons Building
                </h4>
                <p>
                    Leaving the library, walk through 5th St Square and check out the Device to Root out Evil art
                    installation (intersection of 5 St SE and 7 Ave SE)
                </p>
                <p>
                    Continue on to the Simmons building, a converted mattress factory originally built in 1912. Now, it
                    is home to a few cafes and restaurants. We recommend grabbing breakfast at Sidewalk Citizen Bakery
                    and a coffee at Phil & Sebastian.
                </p>
                <div>
                    <img class="banner" src="/images/things/simmons.jpg"/>
                </div>

                <a class="map-location" data-lat="51.048509" data-long="-114.051619">SAMEWAYBETTER/READER Mosaic</a>
                <a class="map-location" data-lat="51.048622" data-long="-114.050300">BRIDGE Murals</a>
                <a class="map-location" data-lat="51.047454" data-long="-114.047381">Wheel of Women</a>
                <h4>
                    4 - 6. Stroll along the RiverWalk
                </h4>
                <p>
                    North of the Simmons Building, along the Bow River is the RiverWalk. The pathway was a finalist for
                    the Urban Open Space Award; it provides scenic views of the river and interesting artwork along the
                    way. Check out the public art below, and then continue east.
                </p>
                <ul>
                    <li><strong>SAMEWAYBETTER/READER</strong> - A 110-foot mosaic tile wall tells the story of Calgary
                    </li>
                    <li><strong>BRIDGE</strong> - Slightly disturbing paintings of East Village residents in paper-maché
                        masks; found in
                        multiple spots along the RiverWalk
                    </li>
                    <li><strong>Wheel of Women</strong> - A ground-level installation that celebrates the contributions
                        of women in Calgary
                    </li>
                </ul>
                <div>
                    <img class="banner" src="/images/things/samewaybetterreader.jpg"/>
                </div>

                <a class="map-location" data-lat="51.047304" data-long="-114.041542">St. Patrick's Island</a>
                <h4>
                    7. St. Patrick's Island
                </h4>
                <p>
                    Cross the George C. King Bridge to St. Patrick's Island.
                    While on the island, explore the pathways and pedestrian
                    bridges in the 31-acre park. Be sure to stop at The Rise for a great view of the city.
                </p>
                <p>
                    Continue east and follow 12 St SE into Inglewood.
                </p>

                <a class="map-location" data-lat="51.041229" data-long="-114.034388">Inglewood</a>
                <h4>
                    8. Inglewood
                </h4>
                <p>
                    Stop for lunch at <strong>Without Papers Pizza</strong>, <strong>Spolumbo's</strong>, or <strong>The
                    Nash</strong>.
                </p>
                <p>
                    Spend some time strolling through the shops on 9 Ave SE that make Inglewood a hipster mecca. Some
                    fun stores are:
                </p>
                <ul>
                    <li><strong>The Livery Shop</strong> - for local clothing</li>
                    <li><strong>Fair's Fair</strong> - for books</li>
                    <li><strong>Plant</strong> - ... for plants</li>
                    <li><strong>Silk Road Spice Merchant</strong> - for interesting smells and flavours</li>
                </ul>
                <p>
                    Have a little brewery tour at Inglewood's new micro-breweries:
                </p>
                <ul>
                    <li><strong>High Line Brewing</strong></li>
                    <li><strong>Ol' Beautiful Brewing Co.</strong></li>
                    <li><strong>Cold Garden Beverage Company</strong></li>
                </ul>

                <div>
                    <img class="banner" src="/images/things/inglewood.jpg"/>
                </div>

                <a class="map-location" data-lat="51.044958" data-long="-114.042543">Fort Calgary</a>
                <h4>
                    9. Return to East Village
                </h4>
                <p>
                    Walk west along 9 Ave SE to start heading back to East Village to your hotel or car. After you cross
                    the Elbow River,
                    turn right back onto the RiverWalk. You'll pass the <strong>Deane House</strong> and <strong>Fort
                    Calgary</strong>: two restored historic buildings from Calgary's early days. The Deane House is now
                    an upscale restaurant and Fort Calgary is a small museum (we don't recommend paying to go inside,
                    but it's nice to look at outside).
                </p>

                <a class="map-location" data-lat="51.040844" data-long="-114.065883">Victoria Park</a>
                <a class="map-location" data-lat="51.042908" data-long="-114.054087">Village Ice Cream</a>
                <h4>
                    10 - 11. Dinner, Ice Cream, & Drinks
                </h4>
                <p>
                    Finish the day off with dinner at one of the following restaurants:
                </p>
                <ul>
                    <li>
                        Willing to drive? A couple of our favourite Asian restaurants:
                        <ul>
                            <li><strong>Pho Hoai</strong> in the Far East Shopping Centre (closes 8 PM; 6 PM Sunday)
                            </li>
                            <li><strong>Sun's BBQ</strong> for Szechuan and Malay</li>
                        </ul>
                    </li>
                    <li>
                        If exploring by foot, try a restaurant in Victoria Park:
                        <ul>
                            <li><strong>Ten Foot Henry</strong></li>
                            <li><strong>Two Penny</strong></li>
                            <li><strong>Native Tongues</strong></li>
                        </ul>
                    </li>
                </ul>

                <p>
                    End the night at one (or more) of the following spots:
                </p>

                <ul>
                    <li><strong>Village Ice Cream</strong></li>
                    <li><strong>Proof</strong></li>
                    <li><strong>Shelter</strong></li>
                    <li><strong>St. James Pub</strong></li>
                    <li><strong>Civic Tavern</strong> (formerly Hop in Brew)</li>
                </ul>
            </section>
            <section class="itinerary default" data-zoom="14">
                <h3>Mission - 17th - Downtown</h3>
                <p>
                    While dating, Kevin and Janelle both lived in the Mission district. The main street in the area is
                    4th St SW, lined with tons of restaurants and bars. Starting in Mission, this tour stretches over a
                    large portion of Calgary's inner city, so driving between the destinations would save time;
                    however, walking the entire tour is enjoyable--many residents living in the
                    inner city walk the same distance every day for work.
                </p>

                <a class="map-location" data-lat="51.030609" data-long="-114.071998">Mission</a>
                <h4>
                    1. Breakfast in Mission
                </h4>
                <p>
                    Start at the Elbow River at the intersection of 4th St SW and 26 Ave SW and stroll through the
                    neighbourhood until you reach 17th Ave.
                </p>
                <p>
                    Along the way, you can stop at one of our favourite breakfast spots in the area:
                </p>
                <ul>
                    <li><strong>La Boulangerie</strong> - A French-style cafe serving crepes, sandwiches, croissants,
                        and other pastries
                    </li>
                    <li><strong>Purple Perk</strong> - Coffee shop and breakfast diner</li>
                    <li><strong>OEB</strong> - Classic brunch with a large selection of breakfast poutines</li>
                </ul>
                <p>
                    Some other places you'll see on your way:
                </p>
                <ul>
                    <li><strong>Wurst</strong> - Kevin's favourite bar (he lived two blocks away) for the German beer
                        and half-priced wine nights
                    </li>
                    <li><strong>Anejo</strong> - Another favourite for tequila shots and tacos</li>
                    <li><strong>Phil & Sebastian</strong> - Stop for a coffee at the same place where we had our
                        first date!
                    </li>
                    <li><strong>Lululemon</strong> - Janelle used to work at the Mission Lululemon (though it used to be
                        further north)
                    </li>
                </ul>
                <div>
                    <img class="banner" src="/images/things/mission.png"/>
                </div>

                <a class="map-location" data-lat="51.037844" data-long="-114.074397">17th Ave</a>
                <h4>
                    2. 17th Ave District
                </h4>
                <p>
                    Once you reach 17th Ave, take a left into the 17th Ave District. 17th Ave SW was nicknamed Red Mile
                    during the Flames' 2004 playoff run where thousands of fans crowded the streets in celebration.
                </p>
                <p>

                </p>

            </section>
            <section class="itinerary">
                <h3>Banff</h3>
            </section>
        </div>
    </div>
    <div id="map-container">
        <div id="map-wrapper">
            <div id="map"></div>
        </div>
    </div>
</article>
{{> footer }}
</body>
