<!doctype html>
<html lang="en">
<head>
    <title>Things To Do - {{ siteName }}</title>

    {{>meta }}
</head>
<body>
{{> header title="Things To Do" }}
<article>
    <div id="content">
        <div class="container">
            <h2>Things To Do</h2>

            <p style="text-align: center; max-width: 400px; margin: 0 auto;">
                Spending an extra day or two and looking to explore the area?
                Here are some suggestions for our favourite spots:
            </p>

            <div id="itinerary-nav">
            </div>
            <section class="itinerary default" data-lat="38.291355" data-long="-122.457854" data-zoom="11">
                <h3>Sonoma Valley</h3>
                <p>Sitting in-between the Pacific Ocean and Napa Valley is Sonoma County. The region silently produces
                    almost two times as much wine as Napa Valley.</p>
                <p>
                    Sonoma Valley makes up much of the southern half of Sonoma Country's region and is responsible for
                    some of the biggest names for Pinot Noir, Chardonnay, Zinfandel, and Sparkling Wine in the United
                    States.
                </p>
                <p>
                    Really, you should do only two things in Sonoma Valley: drink and eat.
                </p>

                <h4 style="margin-top:50px;">Drink</h4>

                <a class="map-location" data-lat="38.293333" data-long="-122.456378" data-zoom="15">Bedrock Wine</a>
                <h5>1. <a target="_blank" href="https://bedrockwineco.com/">Bedrock Wine</a></h5>
                <p>
                    There are tons of tasting rooms near Sonoma Plaza (in the town of Sonoma, walking distance from the
                    wedding venue). Bedrock is legendary and
                    if we had to pick one spot to experience what Sonoma Valley has to offer in its wine, it would be
                    this one.
                </p>
                <p>
                    Appointments are required Thursday to Sunday, and tastings cost $30 (waived with two bottle
                    purchase).
                </p>

                <div>
                    <img class="banner" src="/images/things/sonoma/bedrock.jpg"/>
                </div>

                <a class="map-location" data-lat="38.291629" data-long="-122.455702" data-zoom="15">Sojourn Cellars</a>
                <h5>2. <a target="_blank" href="https://www.sojourncellars.com/">Sojourn Cellars</a></h5>
                <p>
                    Sojourn Cellars are winemakers specializing in Pinot that source fruit from all over Sonoma and
                    Napa. Their tasting room is also available at Sonoma Plaza, just a few blocks from Bedrock! Pairing
                    them together for a tasting day is always a great decision.
                </p>
                <p>
                    Tastings are by appointment: $45.
                </p>

                <div>
                    <img class="banner" src="/images/things/sonoma/sojourn.png"/>
                </div>

                <a class="map-location" data-lat="38.293901" data-long="-122.459770" data-zoom="15">Three Sticks</a>
                <h5>3. <a target="_blank" href="https://threestickswines.com/adobe/">Three Sticks</a></h5>
                <p>
                    Include Three Sticks wine in your day of tasting in Sonoma Plaza. They specialize in Pinot Noir and
                    Chardonnay and feature their wines in the beautiful and historic Adobe built in 1842 by General
                    Salvador Vallejo, the founder of Sonoma.
                </p>
                <p>
                    The winemaker at Three Sticks is the famous Bob Cabral, who (during his time at the cult producer
                    Williams Selyem) was responsible for the first full 100-point Pinot Noir in California. That speaks
                    for itself.
                </p>
                <p>
                    Tastings are by appointment: $65.
                </p>

                <div>
                    <img class="banner" src="/images/things/sonoma/threesticks.jpeg"/>
                </div>

                <a class="map-location" data-lat="38.255250" data-long="-122.350788" data-zoom="13">Domaine Carneros</a>
                <h5>4. <a target="_blank" href="https://www.domainecarneros.com/">Domaine Carneros</a></h5>
                <p>
                    Owned by the famous Champagne Taittinger family, Domaine Carneros is a small grower-producer of
                    sparkling wine. The property features a beautiful French-style estate with great views of the area.
                </p>
                <p>
                    Appointments are strongly encouraged for the $40 flight--when touring with guests, we usually book
                    a 10 AM slot to start a day of tasting.
                </p>

                <div>
                    <img class="banner" src="/images/things/sonoma/domaine.jpg"/>
                </div>

                <a class="map-location" data-lat="38.348619" data-long="-122.507432" data-zoom="13">Bucklin Old Hill
                    Ranch</a>
                <h5>5. <a target="_blank" href="https://www.buckzin.com/">Bucklin Old Hill Ranch</a></h5>
                <p>
                    Old Hill Ranch in Glen Ellen had one of the first plantings of Zinfandel in area, dating back to the
                    late 1800s. Now owned by the Bucklin family, these zin-blends are iconic California wines and are
                    amazing value bottles in the $30 - $50 range.
                </p>
                <p>
                    Tastings are by appointment at the vineyard--email them at the address on the website.
                </p>

                <div>
                    <img class="banner" src="/images/things/sonoma/bucklin.jpeg"/>
                </div>

                <h4 style="margin-top:50px;">Eat</h4>

                <a class="map-location" data-lat="38.293863" data-long="-122.458834" data-zoom="15">The Girl & The
                    Fig</a>
                <h5>6. <a target="_blank" href="https://www.thegirlandthefig.com/">The Girl & The Fig</a></h5>
                <p>
                    An essential stop for visitors to Sonoma Plaza, The Girl & The Fig serves amazing
                    French-bistro-style dishes.
                </p>
                <p>
                    Try their signature duck confit (below) or fig & arugula salad.
                </p>

                <div>
                    <img class="banner" src="/images/things/sonoma/girlandfig.jpg"/>
                </div>

                <a class="map-location" data-lat="38.277394" data-long="-122.460232" data-zoom="14">
                    Wit & Wisdom
                </a>
                <h5>7. <a target="_blank" href="https://www.witandwisdomsonoma.com/">Wit & Wisdom</a></h5>
                <p>
                    Ok, we haven't eaten at Wit & Wisdom yet--it recently opened in Sonoma inside The
                    Lodge resort. But it
                    is headed by Michelin star-awarded chef Michael Mina, and so is sure to make a great dinner. Someone
                    go and tell us how it is.
                </p>

                <div>
                    <img class="banner" src="/images/things/sonoma/witwisdom.jpg"/>
                </div>

                <a class="map-location" data-lat="38.315204" data-long="-122.482043" data-zoom="13">
                    El Molino Central
                </a>
                <h5>8. <a target="_blank" href="https://www.elmolinocentral.com/">El Molino Central</a></h5>
                <p>
                    Amazing mexican street food, counter-served and eaten at bright blue picnic tables in the back.
                    Makes for a great lunch between tastings.
                </p>

                <div>
                    <img class="banner" src="/images/things/sonoma/elmolino.jpg"/>
                </div>

                <a class="map-location" data-lat="38.364209" data-long="-122.524464" data-zoom="12">
                    Glen Ellen Star
                </a>
                <h5>9. <a target="_blank" href="https://glenellenstar.com/">Glen Ellen Star</a></h5>
                <p>
                    Renowned pizza, homemade pasta, Michelin Bib Gourmand.
                </p>

                <div>
                    <img class="banner" src="/images/things/sonoma/glenellenstar.jpg"/>
                </div>
            </section>
            <section class="itinerary" data-lat="38.607308" data-long="-122.869035" data-zoom="12">
                <h3>Healdsburg</h3>
                <p>Sitting in-between the Pacific Ocean and Napa Valley is Sonoma County. The region silently produces
                    almost two times as much wine as Napa Valley.</p>
                <p>
                    Healdsburg sits at the northern tip of Sonoma County and is the singularity of tasting
                    rooms--dozens of tasting rooms from the best vineyards and winemakers in the region are all crammed
                    within a handful of blocks.
                </p>
                <p>
                    Healdsburg is the nexus of three wine powerhouse AVAs: Dry Creek Valley, Alexander Valley, and
                    Russian River Valley. The area produces the greatest Zinfandel, Pinot Noir, Chardonnay, and
                    Sauvignon Blanc.
                </p>
                <p>
                    Really, you should do only two things in Healdsburg: drink and eat.
                </p>

                <h4 style="margin-top:50px;">Drink</h4>

                <a class="map-location" data-lat="38.659694" data-long="-122.885927" data-zoom="12">Ridge Lytton
                    Springs</a>
                <h5>1. <a target="_blank" href="https://www.ridgewine.com/visit/lytton-springs/">Ridge Lytton
                    Springs</a></h5>
                <p>
                    Ridge produces some of our absolute favorite wine, and its Zinfandel-based wine sourced from their
                    Lytton Springs and Geyserville vineyards (areas just north of Healdsburg) demonstrate the best of
                    the Dry Creek and Alexander Valleys.
                </p>
                <p>
                    Tasting at Ridge Lytton Springs presents a great opportunity to see how much terroir influences the
                    profile of the wine within the same grape varietal--each of the Lytton Springs and Geyserville zins
                    remain distinct with each vintage, and it can be fun to compare them side-by-side.
                </p>
                <p>
                    Ridge interestingly also uses primarily American oak for aging to great result, contrasting with the
                    French oak used in most popular wines in Napa and Sonoma.
                </p>
                <p>
                    Besides Zinfandel, Ridge makes many other fantastic and complex wines that are ideal for aging. It
                    is famous for its Monte Bello cab, grown at its vineyard next to San Jose in the Santa Cruz
                    mountains. If available, try their Grenache Blanc--another of our favourites.
                </p>
                <p>
                    Amazing wine made even better by a super affordable $20-priced tasting. Book a reservation in
                    advance.
                </p>

                <div>
                    <img class="banner" src="/images/things/sonoma/ridge.jpeg"/>
                </div>


                <a class="map-location" data-lat="38.535066" data-long="-122.867586" data-zoom="12">Rochioli</a>
                <h5>2. <a target="_blank" href="https://www.rochioliwinery.com/">Rochioli</a></h5>
                <p>
                    The Rochioli family are pioneers in winemaking in Russian River Valley and were the first to start
                    growing wine in the region. Shortly after, they were the also first to plant Pinot Noir that Russian
                    River is best known for.
                </p>
                <p>
                    The Pinot Noir offerings at Rochioli continue to be great. They reserve some of the very best fruit
                    for their own label, but also supply other cult producers in the region (like Williams Selyem and
                    Ramey).
                </p>
                <p>
                    Unlike other popular winemakers in the area, Rochioli is accessible to non-members for tastings,
                    which can be made by appointment for $25!
                </p>

                <div>
                    <img class="banner" src="/images/things/sonoma/rochioli.jpeg"/>
                </div>

                <a class="map-location" data-lat="38.603926" data-long="-122.8625616" data-zoom="16">Ramey</a>
                <h5>3. <a target="_blank" href="https://www.rameywine.com/">Ramey</a></h5>
                <p>
                    With at least six different Chardonnays covering vineyards across Russian River
                    Valley and the Sonoma Coast, Ramey is Chardonnay.
                </p>
                <p>
                    Ramey Chardonnay focuses on classical Burgundian technique that sets it apart from overly buttery or
                    oaky notes in many other Californian Chardonnays. Outside of Burgundy, there's no one else that does
                    Chardonnay like David Ramey.
                </p>
                <p>
                    Tastings are by appointment in Healdsburg's downtown: $50.
                </p>

                <div>
                    <img class="banner" src="/images/things/sonoma/ramey.jpeg"/>
                </div>


                <a class="map-location" data-lat="38.612062" data-long="-122.870587" data-zoom="16">Portalupi</a>
                <a class="map-location" data-lat="38.611365" data-long="-122.868981" data-zoom="16">Idlewild</a>
                <h5>4 - 5. Italian Winemaking: <a target="_blank" href="https://portalupiwine.com/">Portalupi</a> /
                    <a target="_blank" href="https://www.idlewildwines.com/">Idlewild</a></h5>
                <p>
                    A nice change of pace from the French-style wine in Sonoma County can be found around Healdsburg
                    Plaza at
                    Portalupi and Idlewild.
                </p>
                <p>
                    Portalupi makes spectacular Barbera and Charbono, and also serves table wine in fun milk jugs--a
                    throwback to matriarch Marina Portalupi who bottled her first wine for her village in a milk jug.
                </p>
                <p>
                    Idlewild focuses on Mendocino County within the Sonoma Coast AVA. Their Nebbiolo,
                    Cortese, and Barbera were standouts.
                </p>

                <div>
                    <img class="banner" src="/images/things/sonoma/portalupi.jpeg"/>
                </div>

                <a class="map-location" data-lat="38.6116362" data-long="-122.8699055" data-zoom="16">Banshee Wines</a>
                <a class="map-location" data-lat="38.610975" data-long="-122.8715247" data-zoom="16">Marine Layer
                    Wines</a>
                <h5>6 - 7. Cold-climate Pinot: <a target="_blank" href="https://www.bansheewines.com/">Banshee</a> /
                    <a target="_blank" href="https://www.marinelayerwines.com/visit/">Marine Layer</a>
                </h5>
                <p>
                    Both Banshee Wines and Marine Layer Wines can be found close to the Healdsburg Plaza and focus on
                    Sonoma Coast cold-climate Pinot and Chardonnay. Banshee's tasting room has been open since 2013, but
                    Marine Layer is a new spot that opened this year with a cool modern interior.
                </p>

                <div>
                    <img class="banner" src="/images/things/sonoma/marinelayer.jpeg"/>
                </div>

                <h4 style="margin-top:50px;">Eat</h4>

                <a class="map-location" data-lat="38.6096938" data-long="-122.8693231" data-zoom="16">Barndiva</a>
                <h5>8. <a target="_blank" href="http://www.barndiva.com/">Barndiva</a></h5>
                <p>
                    Michelin-starred restaurant with eclectic-rustic vibes. The Hokkaido Scallops are unbelievable.
                </p>

                <div>
                    <img class="banner" src="/images/things/sonoma/barndiva.jpg"/>
                </div>

                <a class="map-location" data-lat="38.612084" data-long="-122.8717007" data-zoom="16">
                    Valette
                </a>
                <h5>9. <a target="_blank" href="https://www.valettehealdsburg.com/">Valette</a></h5>
                <p>
                    Valette is at the top of our restaurants-to-try list in Healdsburg. The 5-course "Trust Us" tasting
                    menu is supposed to be amazing and Valette specializes in seafood and vegetable-based dishes.
                </p>

                <div>
                    <img class="banner" src="/images/things/sonoma/valette.jpg"/>
                </div>

                <a class="map-location" data-lat="38.612265" data-long="-122.870322" data-zoom="16">
                    Guiso Latin Fusion
                </a>
                <h5>10. <a target="_blank" href="https://www.elmolinocentral.com/">Guiso Latin Fusion</a></h5>
                <p>
                    Also on our to-do list, Guiso Latin Fusion features food from a young Salvadoran chef, cooking
                    comfort latin food from around Central America
                    and the Caribbean. The restaurant itself is intimate and small: only 6 or 7 tables.
                </p>

                <div>
                    <img class="banner" src="/images/things/sonoma/guiso.jpeg"/>
                </div>

                <a class="map-location" data-lat="38.6103765" data-long="-122.8718805" data-zoom="16">
                    Noble Folk Ice Cream
                </a>
                <h5>11. <a target="_blank" href="https://www.thenoblefolk.com/">Noble Folk Ice Cream</a></h5>
                <p>
                    Adventurous-flavored ice cream, pies, and cookies right on the Plaza!
                </p>

                <div>
                    <img class="banner" src="/images/things/sonoma/noblefolk.jpg"/>
                </div>

                <a class="map-location" data-lat="38.6103972" data-long="-122.869025" data-zoom="16">
                    Oakville Grocery
                </a>
                <h5>12. <a target="_blank" href="https://oakvillegrocery.com/">Oakville Grocery</a></h5>
                <p>
                    Stop into Oakville Grocery for lunch--they make great sandwiches with local cheeses and meats.
                    Alternatively, the wine you've picked up from your tasting will go great with charcuterie and cheese
                    from the deli. Humboldt Fog and Mt. Tam Triple Cream are available here and are our favorite
                    cheeses.
                </p>

                <div>
                    <img class="banner" src="/images/things/sonoma/oakvillegrocery.jpeg"/>
                </div>
            </section>
            <section class="itinerary" data-lat="38.2433002" data-long="-122.63198" data-zoom="11">
                <h3>Petaluma</h3>
                <p>
                    Petaluma is the closest city to Sonoma, a short 20-minute drive away. It is the gateway to Sonoma
                    County from San Francisco to the south.</p>
                <p>
                    Petaluma is perhaps best used as a home base for <a target="_blank"
                                                                        href="{{root}}/accommodations/#petaluma">accommodations</a>
                    to allow you to explore the rest of
                    Sonoma County, but there are some interesting visits nearby for beer and cheese-tasting.
                </p>

                <a class="map-location" data-lat="38.2314092" data-long="-122.6501214" data-zoom="12">Petaluma
                    Creamery</a>
                <h5>1. <a target="_blank" href="https://www.springhillcheese.com/menu">Petaluma Creamery</a></h5>
                <p>
                    Petaluma Creamery is the home of three local cheeses: Petaluma Creamery, Petaluma Gold, and Organic
                    Spring Hill Jersey Cheese. Visit the store and sample their cheese and ice cream, or grab one of
                    their fresh made sandwiches for breakfast or lunch.
                </p>

                <a class="map-location" data-lat="38.2108935" data-long="-122.676809" data-zoom="12">Achadinha</a>
                <h5>2. <a target="_blank" href="https://www.achadinha.com/tours">Achadinha Cheese Co.</a></h5>
                <p>
                    Achadinha offers a fun cheese tour that covers their full operation: from milking
                    barn to cheese plant. You'll also get to try their various cheeses--Portuguese-style cheese and
                    curds. Achadinha's curds are popularly featured in many SF poutines.
                </p>
                <p>
                    Tours are required in order to visit and cost $35/person.
                </p>

                <a class="map-location" data-lat="38.1375366" data-long="-122.7098655" data-zoom="11">Marin French
                    Cheese</a>
                <h5>3. <a target="_blank" href="https://marinfrenchcheese.com/visit-us/">Marin French Cheese Co.</a>
                </h5>
                <p>
                    Marin French Cheese Company has been making cheese since the mid-1800s. It is the oldest continually
                    operating cheese manufacturer in the United States.
                </p>
                <p>
                    Their two most popular
                    cheeses to try are their Petite Breakfast, their first cheese dating back to 1865; and their Triple
                    Cream Brie, their most awarded cheese.
                </p>
                <div>
                    <img class="banner" src="/images/things/marin/marinfrenchcheese.jpeg"/>
                </div>

                <a class="map-location" data-lat="38.0672079" data-long="-122.8097588" data-zoom="12">
                    Cowgirl Creamery
                </a>
                <a class="map-location" data-lat="38.0769507" data-long="-122.8056667" data-zoom="12">
                    Heidrun Meadery
                </a>
                <a class="map-location" data-lat="38.1166802" data-long="-122.85451" data-zoom="12">
                    Tomales Bay Oyster Company
                </a>
                <h5>4 - 6. <a target="_blank" href="https://cowgirlcreamery.com/pages/visit-cowgirl/">Cowgirl
                    Creamery</a></h5>
                <p>
                    Ok, so Cowgirl Creamery is in Point Reyes Station, not Petaluma; but it fits in very well
                    with this list and is a must-visit cheesemaker. It's about a 30-minute drive from Petaluma.
                </p>
                <p>
                    Cowgirl Creamery is legendary and has received countless awards for its Mt. Tam and Red Hawk
                    (washed rind) triple cream cheeses. If you go to one place on this list, make it this one.
                </p>
                <p>
                    Pick up some cheese and accoutrements for a nice picnic next to the shop. To round out this cheese
                    tour, you can pair with some local mead at <a target="_blank"
                                                                  href="https://www.heidrunmeadery.com/">Heidrun</a>. If
                    you're feeling more adventurous, stop by
                    <a target="_blank" href="https://www.tomalesbayoystercompany.com/">Tomales Bay Oyster Company</a> to
                    pick up fresh
                    oysters (BYO cooler and shucking equipment).
                </p>
                <div>
                    <img class="banner" src="/images/things/marin/cowgirlcreamery.jpeg"/>
                </div>


                <a class="map-location" data-lat="38.4418102" data-long="-122.713844" data-zoom="10">
                    Russian River Valley Brewing
                </a>
                <h5>7. <a target="_blank" href="https://lagunitas.com/taproom/petaluma/">Russian River Valley
                    Brewing</a></h5>
                <p>
                    This place isn't in Petaluma either, but it fits thematically! The 20-minute detour here is worth
                    it.
                </p>
                <p>
                    Russian River Valley Brewing is one of the top craft brewers in the country, with a focus on hoppy
                    ales. Its annual limited release of Pliny the Younger Triple IPA is perhaps the most-coveted beer in
                    the world, selling out in seconds online and resulting in people
                    <a href="https://abc7news.com/pliny-the-younger-2020-beer/5910721/" target="_blank">camping outside
                        the taproom
                        24 hours in advance</a> for a taste.
                </p>
                <p>
                    You can still get the almost-as-popular cult-favourite Pliny the Elder Double IPA year-round, so
                    make this place a definite stop if you love beer.
                </p>
                <div>
                    <img class="banner" src="/images/things/marin/pliny.jpeg"/>
                </div>

                <a class="map-location" data-lat="38.2720972" data-long="-122.6648443" data-zoom="12">
                    Lagunitas Brewing
                </a>
                <h5>8. <a target="_blank" href="https://lagunitas.com/taproom/petaluma/">Lagunitas Brewing</a></h5>
                <p>
                    Lagunitas Brewing company is a former craft beer darling that has grown to global reach, and its
                    beer remains as popular as ever in the Bay Area. Lagunitas has been based in Petaluma since the
                    beginning in 1995.
                </p>
                <p>
                    Lagunitas IPA put them on the map, but you'll also have access to flights of their other fantastic
                    beers.
                    Along with a great atmosphere, outdoor seating, and live music, it's always a good time here.
                </p>
                <div>
                    <img class="banner" src="/images/things/marin/lagunitas.jpeg"/>
                </div>
            </section>
            <section class="itinerary" data-lat="37.862338" data-long="-122.5282657" data-zoom="12">
                <h3>Marin County</h3>
                <p>You've drunk enough wine, ate your fill, and now need to go out and do some active-living! Marin
                    County is the place for that.</p>
                <p>
                    Marin County is host to redwoods, rolling landscapes, and quaint towns. Tons of things to do to get
                    your steps in and take in beautiful views.
                </p>

                <a class="map-location" data-lat="37.8323937" data-long="-122.493259" data-zoom="12">Golden Gate
                    Observation Deck</a>
                <h5>1. Golden Gate Bridge Viewing</h5>
                <p>
                    The one-way road to the Golden Gate Observation Deck takes you north-west of the bridge into the
                    Marin Headlands. As you descend along the coast, you'll encounter two pullouts on the road (called
                    the "Observation Deck" and the "View Point" respectively) for beautiful unobstructed views of the
                    Golden Gate Bridge.
                </p>

                <p>
                    Further down the road will take you to Battery Spencer, a former gun battery decommissioned in 1943.
                    From there, you'll be able to walk right up to the northern tower of the bridge for up-close views.
                </p>

                <div>
                    <img class="banner" src="/images/things/marin/goldengate.jpg"/>
                </div>

                <a class="map-location" data-lat="37.8904858" data-long="-122.5851947" data-zoom="12">Muir Woods</a>
                <h5>2. Muir Woods National Monument</h5>
                <p>
                    Muir Woods National Monument is home to a grove of 800-year-old redwood trees. Easy, flat walking
                    trails take you through 3 miles of old-growth redwoods. Within the area, there are many more miles
                    of hiking trails if you'd prefer a longer hike up into the canopy.
                </p>
                <p>
                    Admission is $15 per person and parking is $9 per vehicle. <a target="_blank"
                                                                                  href="https://gomuirwoods.com/">Book
                    parking</a> well in advance to ensure you get a spot.
                </p>
                <div>
                    <img class="banner" src="/images/things/marin/muirwoods.jpeg"/>
                </div>

                <a class="map-location" data-lat="37.9039927" data-long="-122.6038858" data-zoom="12">Pantoll
                    Campground</a>
                <h5>3. Mt. Tam Hiking</h5>
                <p>
                    Go hiking on the best loop the Marin Headlands has to offer:
                    <a target="_blank"
                       href="https://www.alltrails.com/trail/us/california/dipsea-steep-ravine-matt-davis-loop-trail-from-pantoll">Dipsea,
                        Steep Ravine, Matt Davis Loop Trail</a>, starting from the Pantoll Campground trailhead. This
                    moderate 7.5-mile trail will take you through hilly grasslands, coastal views, and lush forest.
                </p>
                <p>
                    We recommend starting counter-clockwise with the Matt Davis trail first going down to the coast for
                    the best views. Midway into the hike, you'll end up at Stinson Beach (see item 4). Return to the
                    Pantoll Campground parking lot via Dipsea Trail to Steep Ravine Trail.
                </p>
                <p>
                    Day use of the Pantoll Campground parking lot is $8. Bring cash and pay at the camp station.
                </p>

                <div>
                    <img class="banner" src="/images/things/marin/mttam.jpg"/>
                </div>

                <a class="map-location" data-lat="37.8963029" data-long="-122.6415871" data-zoom="12">Stinson Beach</a>
                <h5>4. Stinson Beach</h5>
                <p>
                    Stinson Beach is a small beach town within the Marin Headlands. Whether you're halfway into the Mt.
                    Tam hike or just visiting by car, grab a burger lunch at the
                    Parkside Snack Bar and enjoy the beach before heading back.
                </p>

                <div>
                    <img class="banner" src="/images/things/marin/stinson.jpeg"/>
                </div>

                <a class="map-location" data-lat="37.8310652" data-long="-122.5365401" data-zoom="13">Rodeo Beach</a>
                <a class="map-location" data-lat="37.834890" data-long="-122.531732" data-zoom="13">Marine Mammal
                    Center</a>
                <a class="map-location" data-lat="37.8160445" data-long="-122.528853" data-zoom="13">Point Bonita</a>
                <h5>5 - 7. Rodeo Beach to Point Bonita</h5>
                <p>
                    If looking for additional or alternative hiking, you can combine the
                    <a target="_blank" href="https://www.alltrails.com/trail/us/california/coastal-trail-loop?u=i">Coastal
                        Trail</a> and
                    the
                    <a target="_blank"
                       href="https://www.alltrails.com/explore/trail/us/california/rodeo-lagoon-to-point-bonita-lighthouse">Point
                        Bonita Lighthouse Loop Trail</a> for an easy 6-mile hike.
                </p>

                <p>
                    The Coastal Trail will take you along Rodeo Beach, an old gun battery (Battery Townsley), Fort
                    Cronkhite (an old WW2 miltary base), and a blue whale skeleton! Also nearby the trail is the
                    <a target="_blank" href="https://www.marinemammalcenter.org/">Marine
                        Mammal Center</a>, a marine
                    animal rehabilitation center that is free for the public to enter.
                </p>

                <p>
                    The trail to Point Bonita Lighthouse will take you past a bunch of old decommissioned gun batteries
                    on the way to an active lighthouse. The tip of the Point is great for views of the coastline and the
                    Golden Gate Bridge in the distance.
                </p>

                <div>
                    <img class="banner" src="/images/things/marin/pointbonita.jpeg"/>
                </div>

                <a class="map-location" data-lat="37.8238911" data-long="-122.5097768" data-zoom="13">Black Sands
                    Beach</a>
                <h5>8. Black Sands Beach</h5>
                <p>
                    On the way back to the highway from Rodeo Beach, you can quickly stop at Black Sands Beach. This is
                    a secluded beach covered in black sand that's ideal for photos or picnics. Some of our
                    <a target="_blank" href="{{root}}/photos">engagement
                        photos</a> were taken here!
                </p>
                <div>
                    <img class="banner" src="/images/things/marin/blacksands.jpeg"/>
                </div>

                <a class="map-location" data-lat="37.861247" data-long="-122.487784" data-zoom="15">Dunphy Park</a>
                <a class="map-location" data-lat="37.8680504" data-long="-122.498812" data-zoom="15">Fish.</a>
                <a class="map-location" data-lat="37.8635897" data-long="-122.4928788" data-zoom="15">Le Garage</a>
                <a class="map-location" data-lat="37.8596719" data-long="-122.4886089" data-zoom="15">Lighthouse
                    Cafe</a>
                <a class="map-location" data-lat="37.8600141" data-long="-122.487878" data-zoom="15">The Joinery,
                    Beerhall</a>
                <a class="map-location" data-lat="37.8596006" data-long="-122.4848054" data-zoom="15">Bar Bocce</a>
                <h5>9 - 14. Sausalito</h5>
                <p>
                    Sausalito is a great place for a meal or for strolling the streets.
                </p>
                <p>If looking to explore and stroll, start at Dunphy Park and take in the sights of the houses both in
                    the hills to the west and across the bay to the east. Walk south along the Bridgeway and pop into
                    the
                    shops or gawk at the huge yachts in the harbour. </p>
                <p>At the southern-most end of the town, you can look across the water and see Alcatraz and San
                    Francisco in the distance.</p>
                <p>For lunch or dinner, we recommend the following:</p>
                <li>Fish. (Our favourite; seafood)</li>
                <li>Le Garage (French bistro)</li>
                <li>Lighthouse Cafe (brunch/diner food with Danish flair)</li>
                <li>The Joinery, Beerhall (beers & new American)</li>
                <li>Bar Bocce (Pizza)</li>
                <br>
                <div>
                    <img class="banner" src="/images/things/marin/sausalito.jpeg"/>
                </div>
            </section>
        </div>
    </div>
    <div id="map-container">
        <div id="map-wrapper">
            <div id="map"></div>
        </div>
    </div>
    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQwISWV9DQlYLwdudzHAreE9I2r3V445I&callback=initMap"
            async defer
    ></script>
</article>
{{> footer }}
</body>
