<!doctype html>
<html lang="en">
<head>
    <title>Accomodations - {{ siteName }}</title>

    {{>meta }}
</head>
<body>
{{> header title="Accomodations" }}
<article>
    <div class="container centered">
        <h2>Accomodations</h2>

        <div class="split">
            <div>
                <h3 class="heading">
                    Hilton Garden Inn / Homewood Suites
                </h3>
                <div class="subheading">
                    <p style="margin-bottom: 16px;">
                        Hotel
                    </p>
                    <p style="margin-bottom: 16px;">
                        711 4 St SE <br>
                        Calgary, AB
                    </p>
                    <p style="margin-bottom: 16px;">
                        <strong>Hilton Garden Inn</strong>:<br/>
                        587-352-2020<br>
                        <a
                                style="font-weight: bold; border-bottom: 1px solid currentColor;"
                                href="https://hiltongardeninn.hilton.com/en/gi/groups/personalized/Y/YYCDTGI-LDW-20200807/index.jhtml?WT.mc_id=POG"
                                target="_blank"
                        >
                            Website
                        </a>
                    </p>
                    <p style="margin-bottom: 16px;">
                        <strong>Homewood Suites</strong>:<br/>
                        587-352-5500<br>
                        <a
                                style="font-weight: bold; border-bottom: 1px solid currentColor;"
                                href="https://www.hilton.com/en/hotels/yycdwhw-homewood-suites-calgary-downtown/?SEO_id=GMB-HW-YYCDWHW"
                                target="_blank"
                        >
                            Website
                        </a>
                    </p>
                </div>
            </div>
            <div style="text-align: left;">
                <p>
                    <strong>Distance to venue</strong>: 2 minute walk!
                </p>
                <p>
                    The Hilton Garden Inn and the Homewood Suites hotels are in the same building.
                </p>
                <p>
                    We have a preferred rate with this hotel for Friday and Saturday night. Use group code
                    <strong>LDW</strong> when booking online, or mention "Lee-Delbello Wedding" when booking over the
                    phone.
                </p>
                <p>
                    Room rates are:
                </p>
                <li>$149/night at the Hilton Garden Inn</li>
                <li>$169/night at the Homewood Suites</li>
                <div class="accordion" style="margin-bottom: 16px;">
                    <details class="accordion-tab question-container">
                        <summary class="accordion-tab__summary question">
                            Need help applying the code online?
                        </summary>
                        <div class="accordion-tab__content answer">
                            <p>
                                Look for the "Special Rates" button or the "Have a special code?" link. Once clicked, a
                                popup will appear. Fill in <strong>LDW</strong> in the group code field.
                            </p>
                        </div>
                    </details>
                </div>
            </div>
        </div>

        <div class="split">
            <div>
                <h3 class="heading">
                    Hotel Arts
                </h3>
                <div class="subheading">
                    <p>
                        Hotel
                    </p>
                    <p style="margin-bottom: 16px;">
                        119 12 Ave SW <br>
                        Calgary, AB
                    </p>
                    <p style="margin-bottom: 16px;">
                        1-800-661-9378<br>
                        <a
                                style="font-weight: bold; border-bottom: 1px solid currentColor;"
                                href="https://reservations.travelclick.com/77780?groupID=2487873"
                                target="_blank"
                        >
                            Website
                        </a>
                    </p>
                </div>
            </div>
            <div style="text-align: left;">
                <p>
                    <strong>Distance to venue</strong>: 5 minute drive / 15 minute walk
                </p>
                <p>
                    We have a preferred rate with this hotel for Friday and Saturday night. Please call in and ask for
                    the "Delbello-Lee Wedding" rate to book.
                </p>
                <p>
                    Room rates are:
                </p>
                <li>$189/night for a standard room</li>
                <li>$249/night for a suite</li>
            </div>
        </div>

        <div class="split">
            <div>
                <h3 class="heading">
                    Airbnb
                </h3>
                <div class="subheading">
                    <p>
                        House or apartment rental
                    </p>
                    <p style="margin-bottom: 16px;">
                        <a
                                style="font-weight: bold; border-bottom: 1px solid currentColor;"
                                href="https://www.airbnb.com/s/East-Village--Calgary--Canada/homes?adults=1&children=0&checkin=2020-08-07&checkout=2020-08-09&source=mc_search_bar&place_id=ChIJKTeXOKt6cVMR9Gh_JZfns70&click_referer=t%3ASEE_ALL%7Csid%3Ad0348709-249e-4af4-8f2e-5849d90d1d80%7Cst%3ALANDING_PAGE_MARQUEE&title_type=NONE&refinement_paths%5B%5D=%2Fhomes"
                                target="_blank"
                        >
                            Website
                        </a>
                    </p>
                </div>
            </div>
            <div style="text-align: left;">
                <p>
                    <strong>Distance to venue</strong>: within East Village, ~5 minute walk
                </p>
                <p>
                    Airbnb is a great alternative to a hotel for affordability, privacy, and space.
                </p>
                <p>
                    At the time of this writing, there are plenty of rentals available near East Village (the
                    neighbourhood in which the
                    venue is located). Two bedroom apartments can be rented for as low
                    as <strong>$60/night</strong>
                    within walking distance of the venue!
                </p>
                <p>
                    Click the website link to search directly for rentals in East Village.
                </p>
            </div>
        </div>
    </div>
</article>
{{> footer }}
</body>
