<!doctype html>
<html lang="en">
<head>
    <title>{{ siteName }} - Home</title>

    {{>meta }}
</head>
<body>
{{> header title=Home }}
<div class="container hero">
    <img src="/images/splash.jpg" style="max-width: 100%;"/>
</div>
<article>
    <section>
        <div class="container event-info">
            <div class="subheading">
                Please join us for our wedding
            </div>
            <div class="event-date">
                <span>{{dayOfWeek}}</span>
                <span class="event-date-number">{{dayOfMonth}}</span>
                <span>{{month}} {{year}}</span>
            </div>
            <div class="subheading">
                {{city}}
            </div>
        </div>
        <div style="text-align: center; margin: 3.5em 0; padding: 0 10px;">
            <img src="/images/calgaryskyline.png" style="width: 100%; max-width: 450px;"/>
        </div>
        <div class="container" style="text-align: center;">
            <a class="button" href="{{root}}/rsvp">
                RSVP
            </a>
        </div>
    </section>
    <section>
        <div class="container split">
            <div>
                <h3 class="heading">
                    How we met
                </h3>
                <small class="subheading">04 . 11 . 2015</small>
            </div>
            <div>
                <p>
                    We matched on Bumble in Calgary back in 2015—Janelle made the first move! Our first dates included
                    coffee at Phil & Sebastian in Mission, dinner at a hole-in-the-wall Korean restaurant, and a
                    yoga class at Yoga Passage (which Janelle almost missed). Over the next few months, we brunched a
                    bunch, went to concerts, tried dog-sledding, and visited Costa Rica together.
                </p>
            </div>
        </div>
    </section>
    <section>
        <div class="container split">
            <div>
                <h3 class="heading">
                    The Proposal
                </h3>
                <small class="subheading">29 . 06 . 2018</small>
            </div>
            <div>
                <p style="margin-bottom: 16px;">
                    On a Baltic cruise with Kevin's extended family, we docked at the final port in Copenhagen. Unlike
                    other days where we traveled as a big group, Kevin and I decided to tour the city just the two of
                    us. We spent the morning wandering the streets of Copenhagen before stopping for a traditional
                    Danish lunch, complete with pickled herring and complementary schnapps.
                </p>
                <p>
                    After lunch, Kevin insisted
                    that we walk 400 steps up an old wooden staircase to the top of the Vor Frelsers Kirke spire. He
                    waited until the groups of tourists cleared, got down on one knee, and pulled the ring box from his
                    backpack. I cried (of course) and the rest is history.
                </p>
            </div>
        </div>
    </section>
    <div style="text-align: center; margin: 3.5em 0; padding: 0 10px;">
        <img src="/images/calgarytower.png" style="max-height: 75px;"/>
    </div>
</article>
{{> footer }}
</body>
