<!doctype html>
<html lang="en">
<head>
    <title>RSVP - {{ siteName }}</title>

    {{>meta }}
</head>
<body>
{{> header title=RSVP }}
<article>
    <div class="container centered">
        <h2>RSVP</h2>
    </div>
    <div class="container rsvp-form" id="rsvp-form">
        <!-- Javascript Form -->
        <p>
            We're excited to celebrate with you! We truly hope you can join us.
        </p>
        <p>
            Please enable JavaScript to complete this form.
        </p>
    </div>
</article>
{{> footer }}
</body>
