<!doctype html>
<html lang="en">
<head>
    <title>Schedule - {{ siteName }}</title>

    {{>meta }}
</head>
<body>
{{> header title=Schedule }}
<article>
    <div class="container centered">
        <h2>Schedule</h2>

        <div>
            <img class="banner" src="/images/studiobell.jpg"/>
        </div>

        <div class="split">
            <div>
                <h3 class="heading">
                    Ceremony & Reception
                </h3>
                <div class="subheading">
                    <p>
                        {{fullDateWithDayOfWeek}}
                    </p>
                    <p style="margin-bottom: 16px;">
                        <a
                                style="font-weight: bold; border-bottom: 1px solid currentColor;"
                                href="https://studiobell.ca"
                                target="_blank"
                        >
                            Studio Bell
                        </a><br>
                        850 4 St SE <br>
                        Calgary, AB
                    </p>
                    <div title="Add to Calendar" class="add-to-calendar">
                        Add to Calendar
                        <span class="start">05/28/2022 04:15 PM</span>
                        <span class="end">05/28/2022 11:59 PM</span>
                        <span class="timezone">America/Edmonton</span>
                        <span class="title">Janelle and Kevin's Wedding!</span>
                        <span class="description">Kindly arrive before 4:15 PM for a 4:30 PM start. Enter the West Block and take the elevator to the fourth floor King Eddy rooftop patio.</span>
                        <span class="location">Studio Bell, 850 4 St SE, Calgary AB</span>
                    </div>
                </div>
            </div>
            <div style="text-align: left;">
                <p>
                    The ceremony will take place on the <strong>King Eddy rooftop patio</strong>.
                    Kindly arrive before 4:15 PM for a <strong>4:30 PM start</strong>.
                </p>
                <p>
                    Enter the West Block and take the
                    elevator to the fourth floor King Eddy rooftop patio.
                </p>
                <div class="accordion" style="margin-bottom: 16px;">
                    <details class="accordion-tab question-container">
                        <summary class="accordion-tab__summary question">
                            Finding your way to the West Block entrance
                        </summary>
                        <div class="accordion-tab__content answer">
                            <p>
                                Start underneath the King Edward Hotel sign at the
                                intersection of 9 Ave SE and 4 St SE. Walk north along 4 St SE until you see the Studio
                                Bell entrance, about 100 feet on the left.
                            </p>
                        </div>
                    </details>
                    <details class="accordion-tab question-container">
                        <summary class="accordion-tab__summary question">
                            Parking
                        </summary>
                        <div class="accordion-tab__content answer">
                            <p>
                                Parking is available in a public lot located at
                                <a href="https://www.calgaryparking.com/findparking/lotlocations/lot55" target="_blank">
                                    724 4 Street SE</a>. Payment is required
                                until 6:00 PM at a rate of $0.50 per 1/2 hour to a maximum of $2.00.
                            </p>
                        </div>
                    </details>
                    <details class="accordion-tab question-container">
                        <summary class="accordion-tab__summary question">
                            Attire
                        </summary>
                        <div class="accordion-tab__content answer">
                            <p>
                                Cocktail formal:
                                Long gown, cocktail dress, dressy jumpsuit,
                                or dark suit and tie.
                            </p>
                        </div>
                    </details>
                </div>

                <p>
                    After the ceremony, we will be hosting cocktails in the Soundscapes Gallery at <strong>5:00
                    PM</strong>.
                </p>
                <p>
                    The reception and dinner will start at <strong>6:00 PM</strong> in the Performance Hall, followed by
                    drinks and dancing until midnight.
                </p>
            </div>
        </div>

        <div>
            <img class="banner" src="/images/craft.jpg"/>
        </div>

        <div class="split">
            <div>
                <h3 class="heading">
                    Sunday Farewell Brunch
                </h3>
                <a name="brunch"/>
                <div class="subheading">
                    <p>
                        Sunday, May 29, 2022
                    </p>
                    <p style="margin-bottom: 16px;">
                        <a
                                style="font-weight: bold; border-bottom: 1px solid currentColor;"
                                href="https://www.craftbeermarket.ca/calgary/downtown"
                                target="_blank"
                        >
                            Craft
                        </a><br>
                        345 10 Ave SW <br>
                        Calgary, AB
                    </p>
                    <div title="Add to Calendar" class="add-to-calendar">
                        Add to Calendar
                        <span class="start">05/29/2022 10:00 AM</span>
                        <span class="end">05/29/2022 12:00 PM</span>
                        <span class="timezone">America/Edmonton</span>
                        <span class="title">Post-Wedding Farewell Brunch</span>
                        <span class="description">Join us for a farewell gathering and brunch!</span>
                        <span class="location">CRAFT, 345 10 Ave SW, Calgary AB</span>
                    </div>
                </div>
            </div>
            <div style="text-align: left;">
                <p>
                    Join us for a farewell gathering and casual brunch before the weekend ends!
                </p>
                <p>
                    Feel free to stop by any time between 10:00 AM and 12:00 PM.
                </p>
                <p>
                    All are welcome!
                </p>
            </div>
        </div>
    </div>
</article>
{{> footer }}
</body>
