@import "_includes/plain";
@import "_includes/split";
@import "_includes/accordion";

p {
  margin-bottom: 10px;
}

img {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px;

  &.banner {
    width: 100%;
    max-width: 575px;
  }
}

.heading + .subheading {
  display: block;
  margin-top: 1em;
}

.addeventatc {
  display: none;
  font-size: 10px !important;

  .addeventatc_icon {
    background-size: 14px 14px !important;
  }

  .copyx {
    display: none !important;
  }
}
