<header id="header">
    <h1>{{ title }}</h1>
    <div class="container">
        <div class="header-text">
            <div style="margin-right: 16px;">
                May 28, 2022
            </div>
            <div style="margin-right: 16px;">
                Calgary, AB
            </div>
            <div>
                <a href="https://www.instagram.com/explore/tags/janelleandkevin/">
                    #JanelleAndKevin
                </a>
            </div>
        </div>
    </div>
    <div class="header-container">
        <div class="container logo">
            <a href="/" style="border: none;">
                <span class="logo__name">Janelle</span>
                <span class="logo__and">and</span>
                <span class="logo__name">Kevin</span>
            </a>
        </div>
    </div>
    <div class="header-menu">
        <div id="header-menu" class="header-container">
            <div class="container header">
                <div class="header-menu--contents">
                    <a class="item" href="/">Home</a>
                    <a class="item" href="/schedule">Schedule</a>
                    <a class="item" href="/photos">Photos</a>
                    <a class="item" href="/accommodations">Accom.</a>
                    <a class="item" href="/things-to-do">Things to do</a>
                    <a class="item" href="/registry">Registry</a>
                    <a class="item" href="/rsvp">RSVP</a>
                </div>

                <div class="header-menu--mobile">
                    <div class="mobile-logo">
                        J <span class="mobile-logo__and">&</span> K
                    </div>
                    <a class="menu-button" id="menu-button">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="covid-banner">
        <i class="fa fa-warning"></i>
        <div>
            <p>
                Due to the continuing COVID-19 pandemic, we have decided to further postpone our wedding
                to Saturday May 28, 2022.
            </p>
            <p>
                We're looking forward to celebrating with everyone next year!
            </p>
        </div>
    </div>
</div>
