<header id="header">
    <h1>{{ title }}</h1>
    <div class="container">
        <div class="header-text">
            <div style="margin-right: 16px;">
                August 08, 2020
            </div>
            <div style="margin-right: 16px;">
                Calgary, AB
            </div>
            <div>
                <a href="https://www.instagram.com/explore/tags/janelleandkevin/">
                    #JanelleAndKevin
                </a>
            </div>
        </div>
    </div>
    <div class="header-container">
        <div class="container logo">
            <a href="/" style="border: none;">
                <span class="logo__name">Janelle</span>
                <span class="logo__and">and</span>
                <span class="logo__name">Kevin</span>
            </a>
        </div>
    </div>
    <div class="header-menu">
        <div id="header-menu" class="header-container">
            <div class="container header">
                <div class="header-menu--contents">
                    <a class="item" href="/">Home</a>
                    <a class="item" href="/schedule">Schedule</a>
                    <a class="item" href="/photos">Photos</a>
                    <a class="item" href="/accommodations">Accom.</a>
                    <a class="item" href="/things-to-do">Things to do</a>
                    <a class="item" href="/registry">Registry</a>
                    <a class="item" href="/rsvp">RSVP</a>
                </div>

                <div class="header-menu--mobile">
                    <div class="mobile-logo">
                        J <span class="mobile-logo__and">&</span> K
                    </div>
                    <a class="menu-button" id="menu-button">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="covid-banner">
        <i class="fa fa-warning"></i>
        <div>
            <p>
                Due to the COVID-19 pandemic, and in response to the provincial public health order to prohibit
                gatherings
                with more than 15 people end until end of August, we will be postponing our wedding.
            </p>
            <p>
                Further details on the new wedding date
                will be provided via email shortly. Stay home and healthy!
            </p>
        </div>
    </div>
</div>
