<header id="header">
    <h1>{{ title }}</h1>
    <div class="container">
        <div class="header-text">
            <div style="margin-right: 16px;">
                {{shortDate}}
            </div>
            <div style="margin-right: 16px;">
                {{city}}
            </div>
            <div>
                <a href="https://www.instagram.com/explore/tags/janelleandkevin/">
                    #JanelleAndKevin
                </a>
            </div>
        </div>
    </div>
    <div class="header-container">
        <div class="container logo">
            <a href="{{root}}/" style="border: none;">
                <span class="logo__name">Janelle</span>
                <span class="logo__and">and</span>
                <span class="logo__name">Kevin</span>
            </a>
        </div>
    </div>
    <div class="header-menu">
        <div id="header-menu" class="header-container">
            <div class="container header">
                <div class="header-menu--contents">
                    <a class="item" href="{{root}}/">Home</a>
                    <a class="item" href="{{root}}/schedule">Schedule</a>
                    <a class="item" href="{{root}}/photos">Photos</a>
                    <a class="item" href="{{root}}/accommodations">Accommodations</a>
                    <a class="item" href="{{root}}/things-to-do">Things to do</a>
                    <a class="item" href="{{root}}/rsvp">RSVP</a>
                </div>

                <div class="header-menu--mobile">
                    <div class="mobile-logo">
                        J <span class="mobile-logo__and">&</span> K
                    </div>
                    <a class="menu-button" id="menu-button">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
{{#if_equal city "Calgary, AB"}}
<div class="container">
    <div class="warning-banner">
        <i class="fa fa-warning"></i>
        <div>
            <p>
                Due to the continuing COVID-19 pandemic and our visa travel restrictions, we have decided to change our
                wedding plans to have a more intimate celebration with family in <a href="/"
            >California</a>.
            </p>
        </div>
    </div>
</div>
{{/if_equal}}

